/* ................login page.............. */
html {
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
    background: none;;
}
body {
    /* background: #1f5182; */
   background-image:url('img/7.jpg') ;
   background-size:100%;
   background-position:fixed;
   min-height:800px;
}
.branding-logo{
	margin:5px auto;
	width: 410px;
}
.branding-logo img{
	display: block;
    margin: auto;
}
.login-screen{
	 margin:30px auto; 
	 padding: 15px 0px;
	 width: 410px; 
	 height: 333px;
	 text-align:center;
	/*  background-color: rgba(255, 255, 255, 0.17);
   */   border: 1px solid transparent;
     border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
label{
	color:#fff;
}
.app-title h1{
	color:#0583ff;
}
.login-form .btn-primary{
	background-color:#0583ff !important;
}

.control-group input[type=text]:focus , .control-group input[type=password]:focus {
    border: 1px solid #0583ff;
}
.control-group{
	padding:10px 0px;
}
.control-group input[type=text], .control-group input[type=password], select {
    width: 65%;
    padding: 10px;
    margin: 0px auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.control-group input::placeholder{
	margin-left:0px;
}

.login-panel{
	padding:10px;
    margin-bottom: 20px;
    background-color: rgba(0, 188, 212, 0.17);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.login-panel img{
	margin-left: 20%;
}



